:root{
    --primary: #EE5253;
    --gray: #AAAAAA;
}

/* Default style */
html{
    /* Untuk projek ini, 1rem = 10px */
    font-size: 62.5%; 
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

dl, ol, ul {
    margin-bottom: 0rem;
}

a{
    color: inherit;
    font-weight: 500;
}

a:hover{
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;
}

input:focus, textarea:focus, button:focus{
    outline: none;
    border: 0.1rem solid black;
}

input[type=text]{
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    border: 0.1rem solid lightgray;
    box-sizing: border-box;
}

button{
    padding: 1rem;
    background: var(--primary);
    color: white;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 0.4rem;
}

/* END Default style */

/* Bootstrap Edit */


/* END Bootstrap Edit */

/* Utilities */
.show{
    display: block !important;
}

.logo-link{
    height: 2rem;
    margin-right: 0.6rem;
}

.selected{
    color: var(--primary);
    font-weight: 700;
}

/* END Utilities */

/* Sidenav */
nav.sidenav{
    box-sizing: border-box;
    height: 100vh;
    background: white;
    box-shadow: 0.3rem 0 0.4rem 0.01rem rgba(0, 0, 0, 0.192);
}

.sidenav {
    padding: 3.5rem 0 8.5rem 2rem;
}

.sidenav a{
    display: block;
    width: 100%;
}

.sidenav-logo{
    margin-bottom: 3.5rem;
}

.sidenav-logo img{
    width: 19rem;
}

.sidenav-link{
    overflow-y: auto;
    height: 100%;
}

.sidenav-link a{
    padding: 1.4rem 1rem 1.4rem 0;
    padding-left: 0;
    transition: padding-left 200ms ease-out, background-color 200ms ease-out;
    -webkit-transition: padding-left 200ms ease-out, background-color 200ms ease-out;
}

.sidenav-link a:hover{
    padding-left: 2rem;
    background-color: lightgray;
}

.side-link li:last-child{
    background-color: red;
}

/* END Sidenav */

/* Nav */
nav.nav{
    padding: 4.5rem 0 4rem 4.5rem;
    display: grid;
    grid-template-columns: 10fr 1fr;
}

.input-search{
    display: grid;
    grid-template-columns: 10fr 1fr;
}

.input-search input[type=text]{
    padding: 0.6rem 2rem;
    border-radius: 0.4rem 0 0 0.4rem;
    width: 100%;
    border-right: none;
    box-shadow: 0 0 0.4rem 0.01rem rgba(0, 0, 0, 0.192);
}

.input-search input[type=text]:focus{
    border: 0.1rem solid black;
}

.input-search button{
    padding: 0.6rem;
    background: white;
    border-radius: 0 0.4rem 0.4rem 0;
    font-size: 1.8rem;
    color: var(--gray);
    border: 1px solid lightgray;
    box-shadow: 0 0 0.4rem 0.01rem rgba(0, 0, 0, 0.192);
    border-left: none; /* Prevent double borders */
}

.menu{
    position: relative;
    align-self: center;
    justify-self: end;
}

.menu button{
    background: none;
    background-image: url(../images/icon/nav-button.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 3rem;
    width: 3.5rem;
    margin: 0.5rem;
    border: none;
    color: gray;
}

.menu-content{
    display: none;
    position: absolute;
    background: white;
    width: 24rem;
    top: 6rem;
    left: -18.7rem;
    padding: 4rem 3rem;
    padding-bottom: 5rem;
    box-shadow: 0 0 0.4rem 0.01rem rgba(0, 0, 0, 0.192);
    z-index: 10;
}

.menu-content::before{
    content: "▲";
    position: absolute;
    transform: scaleX(2);
    font-size: 2rem;
    left: 83%;
    top: -2.28rem;
    color: white;
    text-shadow: 0  0 0.4rem rgba(0, 0, 0, 0.192);
    z-index: -10;
}

.menu-content h1{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 300;
    color: gray;
    margin-bottom: 1.2rem;
}

.menu-content ul{
    margin-bottom: 3rem;
}

.menu-content li{
    margin-bottom: 1rem;
}

.menu-content p{
    font-weight: 300;
    color: gray;
    font-size: 1.4rem;
}

/* END Nav */

/* Content */
.content{
    padding: 0 0 7rem 4.5rem;
}

.content h1{
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

.content .icon-content{
    margin-right: 1rem;
}

.portal-link{
    width: 100%;
}

.portal-link h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.portal-link li{
    margin-bottom: 1.4rem;
}

.portal-link a{
    font-weight: 400;
}

.portal-link a:hover{
    font-weight: 500
}

/* END Content */

@media (min-width: 992px){
    .portal-link{
        width: calc(33.33% - 2.5rem);
        margin-bottom: 2.5rem;
    }
}