.v-centered{
    height: 100vh;
    display: grid;
    align-content: center;

}

a:hover{
    color: #EE5253;
}

table, thead, tfoot, tbody, table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td, table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting, table.table-bordered.dataTable th, table.table-bordered.dataTable td{
    vertical-align: middle;
}

table.dataTable thead .sorting::before, table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after {
    bottom: 1.5em !important;
}

.v-centered-404{
    height: 28rem;
    display: grid;
    align-content: center;
}

.h2{
    line-height: 1.4em;
}

.bg-gradient-primary {
    background-image: linear-gradient(150deg,rgb(206, 68, 68) 60%,rgb(161, 43, 43) 100%);
}

.btn-primary:hover{
    color: #fff;
    background-color: rgb(179, 45, 45);
    border-color: rgb(190, 50, 50);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: rgb(179, 45, 45);
    border-color: rgb(190, 50, 50);
}

.background-admin{
    position: relative;
}

.background-admin:before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-image: url("../../images/background-admin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%) brightness(0.6);
}

.logo-p{
    height: 3rem;
}

.sidebar-brand-text{
    text-align: left;
}

/* Content */

.content{
    text-align: center;
}

.illustration-empty{
    width: 20rem;
}

/* END Content */